.calendar {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	background-color: var(--bg-color-primary);
	border-radius: 1rem;
	min-width: 300px;
}

.monthTitle {
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	color: var(--text-color-primary);
}

.weekdays {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 0.5rem;
	padding-bottom: 0.5rem;
}

.weekday {
	text-align: center;
	font-size: 0.9rem;
	color: var(--text-color-secondary);
}

.days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 0.5rem;
}

.day, .emptyDay {
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.3rem;
	font-size: 0.9rem;
	min-height: 2.5rem;
}

.emptyDay {
	background-color: transparent;
}

.day {
	background-color: var(--bg-color-secondary);
	transition: transform 0.2s ease;
	cursor: pointer;
}

.day:hover {
	transform: scale(1.1);
}

.today {
	border: 2px solid #e6e6e6;
}
