.habit {
	/* outline: 1px solid red; */
	position: relative;
	background-color: var(--bg-color-secondary);
	border-radius: 1rem;
	overflow: hidden;
}

.content {
	/* outline: 1px solid green; */
	padding: 0.8rem;
	overflow: hidden;
}

.calendarOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.calendarContent {
	background-color: var(--bg-color-secondary);
	padding: 1.5rem;
	border-radius: 1rem;
	max-width: 90%;
	max-height: 90vh;
	overflow: auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
