.habit {
	/* outline: 1px solid red; */
	position: relative;
	background-color: var(--bg-color-secondary);
	border-radius: 1rem;
	overflow: hidden;
}

.content {
	/* outline: 1px solid green; */
	padding: 0.8rem;
	overflow: hidden;
}
